In [1]:
a=5
b=6
c=a+b
print(c)

11

In [6]:
import sys
print("python version:", sys.version)

python version: 3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

In [8]:
if 10 > 2:
    print("ten is greater than two")

ten is greater than two

In [ ]:
#sbhhghnjhhkljljgrgrtryht

In [ ]:
#This is a comment

In [ ]:
#this is a multiline comment
#we can use mutliples comments in a code

In [1]:
import keyword
python_keywords = keyword.kwlist
print(python_keywords)
len(python_keywords)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [3]:
#python variables
a=10
print(a)

10

In [11]:
#valid variables
var = 1678
var_3 = 'python'
name = "bindu"
salary = 25000
fruit_name = "pineapple"
age = 30
dob = '09-11-1998'
salary1 = 35000
_Name = "Hima"
_employee_id = "0029T1"
city_ = "srikakulam"
_pincode_ = 532001
print(var, var_3, name, salary, fruit_name, age, dob, salary_1, _Name, _employee_id, city_, _pincode_)

1678 python bindu 25000 pineapple 30 09-11-1998 35000 Hima 0029T1 srikakulam 532001

In [51]:
#invalid variables
1name = 'priya'
$salary = 300000
False = 0
class = "sql"
my-age = 24
employee id = '0026T2'
$__pin = 532401
print- = "HI"
_salary_& = 500000
city' = "srikakulam"
print(1name, $salary, False, class, my-age, employee id, __pin, print-, _salary1, city' )

SyntaxError: invalid decimal literal (35994476.py, line 2)

In [21]:
#multiple variables type1
x,y,z = "cherry", "apple", "banana"
print(x,y,z)

cherry apple banana

In [23]:
age, height, weight = 24, 186, 56
print(age, height, weight)

24 186 56

In [27]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [31]:
num1, num2, num3 = 25, 35, 45
print(num1, num2, num3)

25 35 45

In [33]:
Sport_1, Sport_2, Sport_3 = "Basketball", "football", "badminton"
print(Sport_1, Sport_2, Sport_3)

Basketball football badminton

In [35]:
_sal1, _sal2, _sal3 = 15899, 16700, 45900
print(_sal1, _sal2, _sal3)

15899 16700 45900

In [47]:
car_brand1, car_brand2, car_brand3 = "hyundai", "tata", "renault"
print(car_brand1, car_brand2, car_brand3)

hyundai tata renault

In [53]:
_dry_fruit_1, _dry_fruit_2, _dry_fruit_3 = 'badam', 'kaju', 'walnut'
print(_dry_fruit_1, _dry_fruit_2, _dry_fruit_3)

badam kaju walnut

In [55]:
_maths_, _physics_, _chemistry_ = 68, 45, 54
print(_maths_, _physics_, _chemistry_)

68 45 54

In [57]:
_veggie_1, _veggie_2, _veggie_3 = "carrot", "bottle-gourd", "brinjal"
print(_veggie_1, _veggie_2, _veggie_3)

carrot bottle-gourd brinjal

In [59]:
#multiple variables type1
x=y=z= 100
print(x,y,z)

100 100 100

In [63]:
fruit1=fruit2=fruit3= "apple"
print(fruit1, fruit2, fruit3)

apple apple apple

In [123]:
carrot= beetroot=brinjal = 'veggies'
print(carrot, beetroot, brinjal)

veggies veggies veggies

In [117]:
_sal1=_sal2=_sal3=50000
print(_sal1, _sal2,_sal3)

50000 50000 50000

In [119]:
_num_1=_num_2=_num_3= 50
print(_num_1, _num_2,_num_3)

50 50 50

In [121]:
_bike_= _car_= _lorry_= "Automobiles"
print(_bike_, _car_, _lorry_)

Automobiles Automobiles Automobiles

In [125]:
china = japan = India = 'country'
print(china, japan, India)

country country country

In [129]:
Indigo = Spicejet = Vistara = "flights"
print(Indigo, Spicejet, Vistara)

flights flights flights

In [131]:
person_1=person_2=person_3 = "sales department"
print(person_1, person_2, person_3)

sales department sales department sales department

In [135]:
baseball=badminton=chess="first place"
print(baseball,badminton,chess)

first place first place first place

In [137]:
_range_rover=_rolls_royace=_ferrari= "cars"
print(_range_rover, _rolls_royace, _ferrari)

cars cars cars