In [1]:
#Python Dictionaries
#creating Dictionaries
#creating empty dictionary
empty_dict = {}

#syntax : dict1 = {key: value, key : value, key: value, .....}

#dictionary with key-value pairs
student = {'name': 'Reddy', 'age' : 25, 'grade' : 'A'}

#dictionary with mixed data types
mixed_dict ={ 'name' : 'bindu', 'age': 25, 'grades': [85,90,92]}
print(mixed_dict)

{'name': 'bindu', 'age': 25, 'grades': [85, 90, 92]}

In [3]:
dict1 = {'employee_name' : 'Himabindu', 'Employee_id' : '0029T1', 'location': 'Hyderabad'}
print(dict1)

{'employee_name': 'Himabindu', 'Employee_id': '0029T1', 'location': 'Hyderabad'}

In [5]:
#Accessing Values

student = {'name' : 'sai', 'age' : 65, 'grade' : 'A'}
mixed_dict = { 'name' : 'Bindu', 'age' : 25, 'grades' : [85, 95, 90]}
print(student['name'])
print(student['age'])
print(mixed_dict['grades'])

sai
65
[85, 95, 90]

In [7]:
dict1 = {'employee_name' : 'Himabindu', 'Employee_id' : '0029T1', 'location': 'Hyderabad'}
print(dict1['Employee_id'])

0029T1

In [19]:
#Modifying and Adding Entries: 
student = {'name' : 'sai', 'age' : 65, 'grade' : 'A'}
#Modifying an entry : 
student['age'] = 26
student

{'name': 'sai', 'age': 26, 'grade': 'A'}

In [21]:
#adding a new entry 
student['gender'] = 'Female'
student['Qualification'] = 'B.Tech'
print(student)

{'name': 'sai', 'age': 26, 'grade': 'A', 'gender': 'Female', 'Qualification': 'B.Tech'}

In [23]:
dict1 = {'employee_name' : 'Himabindu', 'Employee_id' : '0029T1', 'location': 'Hyderabad'}
dict1['employee_age'] = 25
dict1['salary'] = 50000
dict1

{'employee_name': 'Himabindu',
 'Employee_id': '0029T1',
 'location': 'Hyderabad',
 'employee_age': 25,
 'salary': 50000}

In [25]:
#Dictionary Methods

#1. get():
g = student.get('grade')
f = student.get('gender', 'not specified')
h = student.get('location', 'not found')
print(g)
print(f)
print(h)

A
Female
not found

In [29]:
employee_details = {'employee_name': 'Himabindu',
 'Employee_id': '0029T1',
 'location': 'Hyderabad',
 'employee_age': 25,
 'salary': 50000}
a = employee_details.get('salary' , 'not found')
b = employee_details.get('employee_skills', 'not available')
c = employee_details.get('location')
print(a)
print(b)
print(c)

50000
not available
Hyderabad

In [31]:
#2. key():

keys = student.keys()
print(keys)

dict_keys(['name', 'age', 'grade', 'gender', 'Qualification'])

In [39]:
keys_employee = employee_details.keys()
print(keys_employee)

dict_keys(['employee_name', 'Employee_id', 'location', 'employee_age', 'salary'])

In [41]:
#3. values():

values = student.values()
print(values)

dict_values(['sai', 26, 'A', 'Female', 'B.Tech'])

In [43]:
Values_employee = employee_details.values()
print(Values_employee)

dict_values(['Himabindu', '0029T1', 'Hyderabad', 25, 50000])

In [45]:
#4. items():

items = student.items()
print(items)

dict_items([('name', 'sai'), ('age', 26), ('grade', 'A'), ('gender', 'Female'), ('Qualification', 'B.Tech')])

In [47]:
items_list = employee_details.items()
print(items_list)

dict_items([('employee_name', 'Himabindu'), ('Employee_id', '0029T1'), ('location', 'Hyderabad'), ('employee_age', 25), ('salary', 50000)])

In [58]:
#5. pop():

mixed_dict = { 'name' : 'Bindu', 'age' : 25, 'grades' : [85, 95, 90]}
mixed_dict
age  = mixed_dict.pop('age')
print(age)
print(mixed_dict)

25
{'name': 'Bindu', 'grades': [85, 95, 90]}

In [60]:
name = mixed_dict.pop()

TypeError: pop expected at least 1 argument, got 0

In [72]:
car_details = {'car_company': 'Hyundai',
 'car_model': 'Creta',
 'car_price': 1300000}
print(car_details)
carmodel = car_details.pop('car_model')
print(carmodel)
print(car_details)

{'car_company': 'Hyundai', 'car_model': 'Creta', 'car_price': 1300000}
Creta
{'car_company': 'Hyundai', 'car_price': 1300000}

In [76]:
#6. popitem() : 
student = {'name': 'sai', 'age': 26, 'grade': 'A', 'gender': 'Female', 'Qualification': 'B.Tech'}
last_item = student.popitem()
print(last_item)
print(student)

('Qualification', 'B.Tech')
{'name': 'sai', 'age': 26, 'grade': 'A', 'gender': 'Female'}

In [78]:
employee_details = {'employee_name': 'Himabindu',
 'Employee_id': '0029T1',
 'location': 'Hyderabad',
 'employee_age': 25,
 'salary': 50000}
lastitem = employee_details.popitem()
print(lastitem)
print(employee_details)

('salary', 50000)
{'employee_name': 'Himabindu', 'Employee_id': '0029T1', 'location': 'Hyderabad', 'employee_age': 25}

In [82]:
#7. update() : 
student = {'name': 'Himabindu', 'age': 26, 'grade': 'A'}
student
new_data = {'age' : 27, 'grade' : 'A+'}
student.update(new_data)
print(student)

{'name': 'Himabindu', 'age': 27, 'grade': 'A+'}

In [90]:
car = {'brand' : 'Hyundai', 'car_model' : 'venue', 'car_type' : 'petrol', 'mfg_year' : 2023}
car
updated_data = {'mfg_year' : 2024, 'car_type' : 'diesel'}
car.update(updated_data)
print(car)

{'brand': 'Hyundai', 'car_model': 'venue', 'car_type': 'diesel', 'mfg_year': 2024}

In [92]:
#8. len() :

car = {'brand' : 'Hyundai', 'car_model' : 'venue', 'car_type' : 'petrol', 'mfg_year' : 2023}
len(car)

4

In [100]:
#9. clear(): Removes all items from the dictionary.
car = {'brand' : 'Hyundai', 'car_model' : 'venue', 'car_type' : 'petrol', 'mfg_year' : 2023}
car.clear()
car

{}

In [104]:
#10. copy(): Returns a shallow copy of the dictionary.

employee_details = {'employee_name': 'Himabindu',
 'Employee_id': '0029T1',
 'location': 'Hyderabad',
 'employee_age': 25,
 'salary': 50000}
copy_employee = employee_details.copy()
print(copy_employee)

{'employee_name': 'Himabindu', 'Employee_id': '0029T1', 'location': 'Hyderabad', 'employee_age': 25, 'salary': 50000}

In [110]:
#11. setdefault(key, default): Returns the value for the specified key. If the key doesn't exist,
#inserts the key with the specified default value and returns it.
dict = {'name': 'bindu', 'age': 25, 'city': 'srikakulam'}
occupation = dict.setdefault('occupation', 'student')
dict

{'name': 'bindu', 'age': 25, 'city': 'srikakulam', 'occupation': 'student'}

In [112]:
#12. fromkeys(iterable, value): Creates a new dictionary with keys from iterable and values set to value.

keys = ('a', 'b', 'c')
d = dict.fromkeys(keys, 0)
print(d)

{'a': 0, 'b': 0, 'c': 0}