In [1]:
#Loop Statements: 

#1. While loop:

#syntax:

'''while condition :
      body of the while condition'''

#program to display numbers from 1 to 5
i = 1
while i <=5:
    print(i)
    i= i+1

1
2
3
4
5

In [3]:
#eg :
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i = i+1

1
2
3

In [11]:
#2. for loop:

#syntax:

'''for val in sequence :
      statements'''
#iterate over each character in language
language = 'python'
for x in language:
    print(x)

p
y
t
h
o
n

In [9]:
#iterate over a list 
fruits = ['apple', 'banana', 'orange']
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [13]:
#iterate over a range 

for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [21]:
#iterate over a dictionary

student_grades = {'hima': 90, 'sekhar': 92, 'priya': 86, 'bindu': 78}
for name,grade in student_grades:
    print(f"{name}'s grade is {grade}")

ValueError: too many values to unpack (expected 2)