In [27]:
#Python Sets
#Creating Sets

#Creating empty Sets
#empty_set = set()

#Creating a set with elements
fruits = {'apple', 'orange', 'banana'}

#Converting a list to a set
numbers = set([1,2,3,4,5])
print(numbers)
print(type(fruits))

#Duplicate items in a set

numbers = {9,9,56,2,4,68,56,2,68,78,73,32,9,5,7,2,7,78,56}
print(numbers)


set = {"apple", "banana", "cherry", True, 1, 2}
print(set)

{1, 2, 3, 4, 5}
<class 'set'>
{32, 2, 4, 5, 68, 7, 9, 73, 78, 56}
{True, 2, 'banana', 'apple', 'cherry'}

In [11]:
#Add and update set items in python:

#1. Add items to a set in python
numbers = {21,67,45,34,54,12,67,87,90}
print('Initial set :', numbers)
#using add() method
numbers.add(65)
print('updated set:', numbers)

Initial set : {34, 67, 12, 45, 21, 54, 87, 90}
updated set: {65, 34, 67, 12, 45, 21, 54, 87, 90}

In [13]:
#2. Update python set
tech_companies = {'apple', 'google', 'apple'}
companies = {'microsoft', 'facebook'}
update_companies = companies.update(tech_companies)
print(companies)

{'apple', 'microsoft', 'facebook', 'google'}

In [21]:
#3. Remove an element from set
languages = {'java', 'c', 'python'}
#removed_value = languages.discard('java')
removed_value = languages.remove('java')
print('set after remove():', languages)

set after remove(): {'c', 'python'}

In [25]:
#finding the length of a set
even_numbers = {2,4,6,8,10,12,14,12,16,18}
print('set:', even_numbers)
#find number of elements 
print('Total Elements:', len(even_numbers))

set: {2, 4, 6, 8, 10, 12, 14, 16, 18}
Total Elements: 9

In [31]:
set1 = {"apple", "banana", "cherry"}
print(len(set1))

3

In [47]:
#Accessing set items

myset = {"apple", "banana", "cherry"}

for x in myset:
   print(x)
print("banana" in myset)

apple
cherry
banana
True

In [63]:
#clear / deleting the set 

myset = {"apple", "banana", "cherry"}
myset.clear()
print(myset)

set()

In [73]:
#set operations

#1. union of two sets

a ={1,3,7,8,5}
b = {0,2,4}
#perform union operation using  |:
print("union using |:", a|b)
#perform union operation using union():
print("union using union():",a.union(b))

union using |: {0, 1, 2, 3, 4, 5, 7, 8}
union using union(): {0, 1, 2, 3, 4, 5, 7, 8}

In [75]:
#eg 
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [79]:
#2. Set intersection

a = {1,3,5,8,4,0}
b = {1,2,3,0,5,4}
#perform intersection operation using &:
print("Intersection using &:", a&b)
#perform intersection operation using intersection():
print("Intersection using intersection():", a.intersection(b))

Intersection using &: {0, 1, 3, 4, 5}
Intersection using intersection(): {0, 1, 3, 4, 5}

In [81]:
#eg :

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [91]:
#3. Difference between two sets : 

A = {2,3,5,9,0,4}
B = {1,2,6,4,7}
#perform difference operation using -:
print("Difference using - :", A-B)
print("Difference using - :", B-A)
#perform difference operation using difference():
print("Difference using difference():", A.difference(B))
print("Difference using difference():", B.difference(A))

Difference using - : {0, 9, 3, 5}
Difference using - : {1, 6, 7}
Difference using difference(): {0, 9, 3, 5}
Difference using difference(): {1, 6, 7}

In [93]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [97]:
#4. Set Symmetric difference: 

A= {2,3,5,7,8,4}
B= {1,2,6,4,9}
#perform symmetric difference operation using ^:
print("symmetric difference using ^:", A^B)
#perform symmetric difference operation using symmetric_difference():
print("symmetricd ifference using symmetric_differnce():", A.symmetric_difference(B))

symmetric difference using ^: {1, 3, 5, 6, 7, 8, 9}
symmetricd ifference using symmetric_differnce(): {1, 3, 5, 6, 7, 8, 9}

In [123]:
#eg:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'microsoft', 'google', 'banana'}