In [1]:
#Strings
#create a string using double quotes
str1 = "python"
#create a string using single quotes
str2 = 'python'
#if need any multi -line strings using triple quotes
str3 = """This is a 
multiline string"""
print(str3)

This is a
multiline string

In [5]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [7]:
#String Operations
#1. Concatenation:

str1 = "Hello"
str2 = "world"
result = str1 + str2
print(result)

Helloworld

In [9]:
#practice
str_1 = "python"
str_2 = "is a easy language"
result =  str_1 + str_2
print(result)

pythonis a easy language

In [15]:
#2. Repetation
str1 = "python "
result = str1 * 3
print(result)

python python python

In [17]:
 str_1 = "My name is Himabindu"
result = str_1 * 9
print(result)

My name is HimabinduMy name is HimabinduMy name is HimabinduMy name is HimabinduMy name is HimabinduMy name is HimabinduMy name is HimabinduMy name is HimabinduMy name is Himabindu

In [29]:
#Indexing 
my_string = "python is so fun"
print(my_string[13])
print(my_string[-8])

f
s

In [35]:
str = "Hello world!"
print(str[-9])
print(str[3])

l
l

In [37]:
#slicing
str = "Hello, world"
substring = str[3:12]
print(substring)

lo, world

In [39]:
str_1 = "My Name is himabindu"
substr = str[2:]
print(substr)

llo, world

In [41]:
#python - Format - Strings
#1 Old style Formatting(%operator):
name = "sai reddy"
age = 29
formatted_string = "My name is %s and i am %d years old." %(name,age)
print(formatted_string)

My name is sai reddy and i am 29 years old.

In [45]:
course = "python"
fee = 25000
format_str = "This is %s course and the fee is %d." %(course, fee)
print(format_str)

This is python course and the fee is 25000.

In [47]:
#2 Format Method : 
name = "sai"
age = 35
formatted_string = "My name is {} and i a {} years old.". format(name, age)
print(formatted_string)

My name is sai and i a 35 years old.

In [51]:
vegetable = "carrot"
cost = 50
format_str = "This is {} and cost is {}.".format(vegetable, cost)
print(format_str)

This is carrot and cost is 50.

In [53]:
#3 String Interpolation(f-strings-python 3.6 and later)
name = "sai"
age = 25
formatted_string = f"my name is {name} and I am {age} years old."
print(formatted_string)

my name is sai and I am 25 years old.

In [55]:
name = "sai reddy"
age = 37
location = "Hyderabad"
format_str = f"my name is {name} and i am {age} years old. I am from {location}."
print(format_str)

my name is sai reddy and i am 37 years old. I am from Hyderabad.

In [59]:
course = "python"
fee = 25000
format_str = f"course is {course} and fee is {fee}."
print(format_str)

course is python and fee is 25000.

In [61]:
#String Methods
#1. len():

my_string = "python is"
length = len(my_string)
print(length)

9

In [65]:
var_1 = "My name is himabindu and I am 25 years old"
length = len(var_1)
print(length)

42

In [67]:
#2. lower()/upper():

my_string = "hello"
print(my_string.upper())

HELLO

In [69]:
my_string = "HELLO WORLD"
print(my_string.lower())

hello world

In [71]:
f = "PYTHON IS A GOOD LANGUAGE"
print(f.lower())

python is a good language

In [73]:
var1 = "python is fun and easy language."
print(var1.upper())

PYTHON IS FUN AND EASY LANGUAGE.

In [75]:
var2 = "I AM A B.TECH STUDENT"
print(var2.lower())

i am a b.tech student

In [79]:
#3. strip():
my_str = "  python  "
stripped_string = my_str.strip()
print(stripped_string)

python

In [81]:
str1 = "    hello world    "
strip_str = str1.strip()
print(strip_str)

hello world

In [87]:
#4. replace():
my_str = "Hello, world!"
new_str = my_str.replace("world!", "python!")
print(new_str)

Hello, python!

In [91]:
str1 = "I am 20 year old!"
str2 = str1.replace("year", "years")
print(str2)

I am 20 years old!

In [93]:
#5. split():

my_str = "python is fun and python is good to learn"
str = my_str.split()
print(str)

['python', 'is', 'fun', 'and', 'python', 'is', 'good', 'to', 'learn']

In [95]:
str1 = "vegetables are good for health"
str2 = str1.split()
print(str2)

['vegetables', 'are', 'good', 'for', 'health']

In [97]:
#6. join():

words =['python', 'is', 'fun', 'and', 'python', 'is', 'good', 'to', 'learn']
joined_str = ' '.join(words)
print(joined_str)

python is fun and python is good to learn

In [99]:
str1 = ['my', 'name', 'is', 'himabindu']
str2 = ' '.join(str1)
print(str2)

my name is himabindu

In [101]:
#7. capitalize():  Converts the first character of the string to uppercase.
str1 = "eat one apple a day"
str2 = str1.capitalize()
print(str2)

Eat one apple a day

In [103]:
#8. swapcase(): Swaps cases, converting uppercase to lowercase and vice versa.
str = "HeLlO, WoRlD!"
str2 = str.swapcase()
print(str2)

hElLo, wOrLd!

In [105]:
#9. title(): Capitalizes the first letter of each word
str1 = "hello, world!"
str2 = str1.title() 
print(str2)

Hello, World!

In [109]:
#10. find(): Returns the index of the first occurrence of a substring.

str_1 = "hello, himabindu!"
str2 = str_1.find("himabindu") 
print(str2)

7

In [111]:
#11. rfind(): Returns the index of the last occurrence of a substring.
str1 = "hello, world!. Python is a popular language."
str2 = str1.rfind("popular")
print(str2)

27

In [113]:
#12. startswith(): Checks if the string starts with a specified prefix.

str1 = "hello, world!"
starts_with_hello = str1.startswith("hello") 
print(starts_with_hello)

True

In [115]:
#13. endswith(): Checks if the string ends with a specified suffix.

str1 = "hello, world!"
ends_with_world = str1.endswith("world!")
print(ends_with_world)

True

In [119]:
#14. isalpha(): Returns True if all characters are alphabetic.

str  = "hello"
str1 = str.isalpha()
print(str1)

True

In [121]:
#15. isdigit(): Returns True if all characters are digits.

str = "123456789"
str1 = str.isdigit()
print(str1)

True

In [123]:
#16. isalnum(): Returns True if all characters are alphanumeric.
str = "Hello123"
str1 = str.isalnum()
print(str1)

True

In [127]:
#17. isspace(): Returns True if all characters are whitespace.

str1 = "      "
str2 = str1.isspace()
print(str2)

True

In [131]:
#18 . lstrip(): Removes leading whitespace.

str = "    Hello, Python!  "
str1 = str.lstrip()
print(str1)

Hello, Python!

In [133]:
#19. rstrip(): Removes trailing whitespace.
str = "    Hello, Python!  "
str1 = str.rstrip()
print(str1)

    Hello, Python!

In [183]:
#20. index(): Similar to find(), but raises a ValueError if the substring is not found.
var1 = "hello world"
index = var1.index("world")
print(index)

6

In [181]:
#21. rindex(): Searches the string for a specified value and returns the last position of where it was found
#Similar to rfind(), but raises a ValueError if the substring is not found.

var = "hello world world"
index = var.rindex("world")
print(index)

12

In [135]:
#22. partition():

#Splits the string at the first occurrence of a specified separator and returns a tuple containing the part before the separator,
#the separator itself, and the part after the separator.

s = "hello.world"
print(s.partition("."))

('hello', '.', 'world')

In [139]:
#23. rpartition():

#Splits the string at the last occurrence of a specified separator and returns a tuple containing the part before the separator, the separator itself, 
#and the part after the separator.

s = "hello python.world. hello"
print(s.rpartition("."))

('hello python.world', '.', ' hello')

In [141]:
#24. maketrans() and translate()

#maketrans() creates a translation table for translate() method to replace characters.

intab = "aeiou"
outtab = "12345"
translator = str.maketrans(intab, outtab)
s = "hello"
print(s.translate(translator))

h2ll4

In [145]:
#25.  zfill(): this method in Python is used to pad a numeric string with zeros on the left-hand side.
#It's particularly useful for formatting numbers as strings with a specified width.

s = "42"
print(s.zfill(5)) 
s = "-42"
print(s.zfill(6))

00042
-00042

In [157]:
#26. splitlines():	Splits the string at line breaks and returns a list
s = "hello\nworld"
z = s.splitlines()
print(z)

['hello', 'world']

In [161]:
#27. rsplit():	Splits the string at the specified separator, and returns a list

# Splitting with a specified separator
s = "apple,banana,cherry"
items = s.rsplit(",")
print(items)

# Limiting the number of splits with maxsplit
p = "one two three four five"
parts = p.rsplit(maxsplit=2)
print(parts)

# Splitting with a custom separator and limiting splits
a = "one two//three//four//five"
parts = a.rsplit("//", 2)
print(parts)

# Handling whitespace at the end of the string
b = "one two three   "
words = b.rsplit()
print(words)

# Splitting an empty string returns an empty list
c = ""
print(c.rsplit())

['apple', 'banana', 'cherry']
['one two three', 'four', 'five']
['one two//three', 'four', 'five']
['one', 'two', 'three']
[]

In [169]:
#28. rjust():	Returns a right justified version of the string
s = "hello"
justified = s.rjust(10)
print(justified)

var = "hello"
justified = var.rjust(8, '-')
print(justified)

num = "42"
justified_num = num.rjust(5, '0')
print(justified_num)

     hello
---hello
00042

In [187]:
#29. ljust() : Returns a left justified version of the string

s = "hello"
s1 = s.ljust(10)
print(s1)

s2 = "hello"
s3 = s2.ljust(10, '-')
print(s3)

hello
hello-----

In [189]:
#30. isprintable() : Returns True if all characters in the string are printable

s1 = "Hello, World!"
print(s1.isprintable()) 

s2 = "Hello\nWorld!"
print(s2.isprintable())

True
False

In [191]:
#31. isnumeric() : Returns True if all characters in the string are numeric

s1 = "12345"
print(s1.isnumeric()) 

s2 = "123.456"
print(s2.isnumeric())  

s3 = "1/2"
print(s3.isnumeric()) 

s4 = "-123"
print(s4.isnumeric())

True
False
False
False

In [193]:
#32. isidentifier()	: Returns True if the string is an identifier
s1 = "hello123"
print(s1.isidentifier())

s2 = "123hello"
print(s2.isidentifier())

True
False

In [197]:
#33. isdecimal(): Returns True if all characters in the string are decimals

var = "12.45"
print(var.isdecimal())

False

In [199]:
#34. isascii() : Returns True if all characters in the string are ascii characters

s = ""
print(s.isascii())
var = "\n\t\r"
print(var.isascii())

True
True

In [201]:
#35. expandtabs() : Sets the tab size of the string.

str = "hello\tworld\t!"
str1 = str.expandtabs(4)
print(str1)

hello   world   !

In [205]:
#36. encode() : Returns an encoded version of the string

s = "Hello, world!"

# Encode using UTF-8 encoding (default)
encoded_utf8 = s.encode()
print(encoded_utf8)

# Encode using ASCII encoding
encoded_ascii = s.encode('ascii')
print(encoded_ascii)

b'Hello, world!'
b'Hello, world!'

In [207]:
#37. center() : Returns a centered string

str = "hello"
str2 = str.center(10)
print(str2)

  hello

In [213]:
#38. casefold()	: Converts string into lower case

s1 = "Hello, Everybody!"
s2 = s1.casefold()
print(s2)

hello, everybody!