In [1]:
#Python Tuple
#empty tuple:

empty_tuple = ()
#tuple with elements :
fruits =("apple", "banana", "cherry")
print(type(fruits))

<class 'tuple'>

In [3]:
#mixed data types :
mixed_tuple = (1, "apple", 3.4, True)
print(mixed_tuple)

(1, 'apple', 3.4, True)

In [9]:
#single element tuple
single_element= tuple("42", )
print(type(single_element))

<class 'tuple'>

In [11]:
cars = ("audi", "benz", "ferrari")
print(type(cars))

<class 'tuple'>

In [15]:
#accessing of tuples
fruits =("apple", "banana", "orange")
print(fruits[2])
print(fruits[0:7])

orange
('apple', 'banana', 'orange')

In [27]:
vegetables = ("carrot", "beetroot", "brinjal")
print(vegetables[1:3])

('beetroot', 'brinjal')

In [29]:
#immutability
fruits = ("apple", "banana", "orange")
fruits[2] = "pear"
print(fruits)

TypeError: 'tuple' object does not support item assignment

In [31]:
#tuple Operations
#concatenation
tuple1 = (1,2,3)
tuple2 = ('a', 'b','c')
result = tuple1 + tuple2
print(result)

(1, 2, 3, 'a', 'b', 'c')

In [33]:
var1 = ("audi", "benz")
var2 = ("hyundai", "tata")
res = var1+var2
print(res)

('audi', 'benz', 'hyundai', 'tata')

In [37]:
#Repetation

tuple = (1,2,3)
result = tuple1*4
print(result)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [39]:
tuple2 = ('a', 'b','c')
result = tuple1*4
print(result)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [41]:
#tuple methods
#1. count():

num  = (1,2,2,3,4,2,4,2,9,4,8,2,9,7,6,7,2)
count_of_2 = num.count(4)
print(count_of_2)

3

In [47]:
vehicles_type  = ('jeep', 'car', 'bus', 'bus', 'car', 'bus', 'jeep', 'scooty', 'scooty')
count_of_vehicles = vehicles_type.count('car')
print(count_of_vehicles)

2

In [49]:
#2. index():
numbers = (1,2,5,3,4,5,7)
index_of_3 = numbers.index(7)
print(index_of_3)

6

In [51]:
cars= ("audi", "benz", "hyundai", "tata")
index_cars = cars.index("tata")
print(index_cars)

3

In [53]:
#3. len() :

cars = ('BMW', "Tesla", "Ford", "Toyato")
print(len(cars))

4

In [67]:
#4. min():
numbers = (2,5,3,4,5,7)
min_numbers = min(numbers)
print(min_numbers)

2

In [69]:
#5. max():
numbers = (2,5,3,4,5,7)
max_numbers = max(numbers)
print(max_numbers)

7

In [71]:
#6. sum():
numbers = (2,5,3,4,5,7)
sum_numbers = sum(numbers)
print(sum_numbers)

26